# Assignment_3

In [1]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)


n_terms = 10
print("Fibonacci sequence:")
for i in range(n_terms):
    print(fibonacci(i), end=" ")

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

In [2]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)


terms = 8
print("Fibonacci sequence:")
for i in range(terms):
    print(fibonacci(i), end=" ")

Fibonacci sequence:
0 1 1 2 3 5 8 13

In [3]:
def word_frequency(strings):
    frequency = {}

    for string in strings:
        words = string.split()
        for word in words:
            word = word.lower()
            if word in frequency:
                frequency[word] += 1
            else:
                frequency[word] = 1

    return frequency


strings = [
    "This is a test string.",
    "Another string for testing purposes.",
    "This is a test string for counting words."
]

frequency = word_frequency(strings)


print("Unique words and their frequencies:")
for word, freq in frequency.items():
    print(f"{word}: {freq}")

Unique words and their frequencies:
this: 2
is: 2
a: 2
test: 2
string.: 1
another: 1
string: 2
for: 2
testing: 1
purposes.: 1
counting: 1
words.: 1

In [4]:
def find_pairs_with_sum(lst, target_sum):
    pairs = []
    seen = set()

    for num in lst:
        complement = target_sum - num
        if complement in seen:
            pairs.append((num, complement))
        seen.add(num)

    return pairs


nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target = 10
pairs = find_pairs_with_sum(nums, target)


print(f"Pairs with sum {target}:")
for pair in pairs:
    print(pair)

Pairs with sum 10:
(6, 4)
(7, 3)
(8, 2)
(9, 1)

In [5]:
def max_product_pair(nums):
    if len(nums) < 2:
        return "List should contain at least two numbers"

    max1 = float('-inf')
    max2 = float('-inf')

    min1 = float('inf')
    min2 = float('inf')

    for num in nums:
        if num > max1:
            max2 = max1
            max1 = num
        elif num > max2:
            max2 = num

        if num < min1:
            min2 = min1
            min1 = num
        elif num < min2:
            min2 = num

    product1 = max1 * max2
    product2 = min1 * min2

    if product1 > product2:
        return max1, max2
    else:
        return min1, min2


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = max_product_pair(numbers)
print("The two numbers whose product is maximum among all pairs:", result)

The two numbers whose product is maximum among all pairs: (9, 8)

In [6]:
def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True


num = 17
if is_prime(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

17 is a prime number

In [7]:
def print_even_numbers(nums):
    for num in nums:
        if num % 2 == 0:
            print(num)


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Even numbers:")
print_even_numbers(numbers)

Even numbers:
2
4
6
8
10

In [11]:
def reverse_words(string):

    words = string.split()

    reversed_words = words[::-1]

    reversed_string = ' '.join(reversed_words)
    return reversed_string

input_string = "Hello world"
output_string = reverse_words(input_string)
print("original string:", input_string)
print("Reversed string:", output_string)

original string: Hello world
Reversed string: world Hello

In [10]:
def is_palindrome(x):
    if x < 0:
        return False
    else:
        return str(x) == str(x)[::-1]

print(is_palindrome(121))
print(is_palindrome(-121))
print(is_palindrome(10))

True
False
False

In [12]:
def is_palindrome(string):
    clean_string = ''.join(char.lower() for char in string if char.isalnum())

    return clean_string == clean_string[::-1]


print(is_palindrome("A man, a plan, a canal, Panama"))
print(is_palindrome("racecar"))  #
print(is_palindrome("hello"))

True
True
False

In [13]:
def squares_list():

    squares = [i ** 2 for i in range(1, 31)]
    return squares


squares = squares_list()
print("Squares of numbers from 1 to 30:")
print(squares)

Squares of numbers from 1 to 30:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [14]:
from itertools import permutations

def generate_permutations(lst):

    permuted = permutations(lst)

    result = [list(perm) for perm in permuted]
    return result


my_list = [1, 2, 3]
permutations_list = generate_permutations(my_list)
print("All permutations of the list:", permutations_list)

All permutations of the list: [[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

In [15]:
def outer_function():
    def inner_function():
        print("This is the inner function")

    print("This is the outer function")
    inner_function()


outer_function()

This is the outer function
This is the inner function